openapi: 3.0.0
info:
  title: V4Pay API
  version: 1.0.0
  description: API pública para gestão de clientes, cobranças, cupons e geração de QRCode PIX.
servers:
  - url: https://api.v4pay.com/v1
    description: Servidor principal para produção e sandbox.

tags:
  - name: Cliente
    description: Operações relacionadas a clientes
  - name: Charge
    description: Operações relacionadas a cobranças
  - name: Cupom
    description: Operações relacionadas a cupons de desconto
  - name: PixQRCode
    description: Operações relacionadas à geração e consulta de QRCode PIX
  - name: InterPix
    description: Futuras operações via Banco Inter

paths:
  /customers:
    post:
      tags: [Cliente]
      summary: Criar um novo cliente
      description: Permite que você crie um novo cliente na plataforma.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRequest'
      responses:
        201:
          description: Cliente criado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
    get:
      tags: [Cliente]
      summary: Listar clientes
      description: Retorna uma lista com todos os clientes cadastrados.
      security:
        - bearerAuth: []
      responses:
        200:
          description: Lista de clientes retornada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
        401:
          $ref: '#/components/responses/Unauthorized'

  /charges:
    post:
      tags: [Charge]
      summary: Criar uma nova cobrança
      description: Permite que você crie um link de cobrança para seu cliente.
      security:
        - bearerAuth: []
      operationId: createCharge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeRequest'
      responses:
        201:
          description: Cobrança criada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
    get:
      tags: [Charge]
      summary: Listar cobranças
      description: Lista todas as cobranças realizadas.
      security:
        - bearerAuth: []
      operationId: listCharges
      responses:
        200:
          description: Lista de cobranças retornada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Charge'
        401:
          $ref: '#/components/responses/Unauthorized'

  /charges/{id}/status:
    get:
      tags: [Charge]
      summary: Checar status de uma cobrança
      description: Consulta o status atual de uma cobrança pelo ID.
      security:
        - bearerAuth: []
      operationId: getChargeStatus
      parameters:
        - name: id
          in: path
          required: true
          description: ID da cobrança.
          schema:
            type: string
            example: "bill_z9y8x7w6"
      responses:
        200:
          description: Status da cobrança retornado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [PENDING, PAID, EXPIRED, CANCELLED]
                    example: PAID
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'

  /coupons:
    post:
      tags: [Cupom]
      summary: Criar um novo Cupom
      description: Permite criar um novo cupom de desconto para cobranças.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouponRequest'
      responses:
        201:
          description: Cupom criado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
    get:
      tags: [Cupom]
      summary: Listar Cupons
      description: Lista todos os cupons disponíveis.
      security:
        - bearerAuth: []
      responses:
        200:
          description: Lista de cupons retornada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Coupon'
        401:
          $ref: '#/components/responses/Unauthorized'

  /pix:
    post:
      tags: [PixQRCode]
      summary: Gerar QRCode PIX Estático
      description: Gera um QRCode para um pagamento PIX avulso.
      security:
        - bearerAuth: []
      operationId: createPix
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixRequest'
      responses:
        201:
          description: QRCode gerado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixQRCode'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
    get:
      tags: [PixQRCode]
      summary: Listar transações PIX
      description: Lista todas as transações PIX registradas na plataforma.
      security:
        - bearerAuth: []
      operationId: listPixTransactions
      responses:
        200:
          description: Lista de transações PIX retornada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PixQRCode'
        401:
          $ref: '#/components/responses/Unauthorized'

  /pix/simulate:
    post:
      tags: [PixQRCode]
      summary: Simular pagamento PIX
      description: Simula o pagamento de uma transação PIX para fins de teste.
      security:
        - bearerAuth: []
      operationId: simulatePixPayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: ID da transação PIX.
                  example: "pix_a1b2c3d4"
      responses:
        200:
          description: Simulação realizada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [PAID]
                    example: PAID
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'

  /pix/{id}/status:
    get:
      tags: [PixQRCode]
      summary: Consultar status do PIX
      description: Consulta o status de uma transação PIX via ID.
      security:
        - bearerAuth: []
      operationId: getPixStatus
      parameters:
        - name: id
          in: path
          required: true
          description: ID da transação PIX.
          schema:
            type: string
            example: 'pix_12345'
      responses:
        200:
          description: Status retornado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [PENDING, PAID, EXPIRED, CANCELLED]
                    example: PAID
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Insira o token de API no cabeçalho `Authorization` no formato `Bearer <seu-token>`.

  responses:
    Unauthorized:
      description: Não autorizado. O token de autenticação é inválido ou está ausente.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Token de autenticação inválido ou ausente."
    BadRequest:
      description: Erro de validação nos dados enviados.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "O campo 'name' não pode ser vazio."
    NotFound:
      description: O recurso solicitado não foi encontrado.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Recurso não encontrado."

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Descrição da mensagem de erro.

    CustomerRequest:
      type: object
      description: Dados para a criação de um novo cliente.
      required: [name, email, taxId, cellphone]
      properties:
        name:
          type: string
          example: Vinicius Mercante
        email:
          type: string
          format: email
          example: vinicius.mercante@v4pay.com
        taxId:
          type: string
          description: CPF ou CNPJ válido do cliente.
          example: "123.456.789-01"
        cellphone:
          type: string
          description: Telefone celular do cliente.
          example: "(11) 91234-5678"

    Customer:
      type: object
      description: Objeto representando um cliente.
      properties:
        id:
          type: string
          format: uuid
          description: Identificador único do cliente.
          example: "cust_a1b2c3d4"
        name:
          type: string
          example: Vinicius Mercante
        email:
          type: string
          format: email
          example: vinicius.mercante@v4pay.com
        taxId:
          type: string
          example: "123.456.789-01"
        cellphone:
          type: string
          example: "(11) 91234-5678"
        createdAt:
          type: string
          format: date-time
          description: Data de criação do registro.

    ChargeRequest:
      type: object
      description: Dados para a criação de uma cobrança.
      required: [products, customerId, returnUrl, completionUrl]
      properties:
        customerId:
          type: string
          description: ID de um cliente já cadastrado.
          example: "cust_a1b2c3d4"
        products:
          type: array
          description: Lista de produtos ou serviços da cobrança.
          minItems: 1
          items:
            type: object
            required: [name, quantity, price]
            properties:
              name:
                type: string
                example: "Assinatura Mensal"
              quantity:
                type: integer
                minimum: 1
                example: 1
              price:
                type: integer
                description: >
                  Preço unitário do produto em centavos (ex: 15075 para R$ 150,75).
                minimum: 100
                example: 15075
        returnUrl:
          type: string
          format: uri
          description: URL para onde o cliente é redirecionado se clicar em "Voltar".
          example: "https://seusite.com/carrinho"
        completionUrl:
          type: string
          format: uri
          description: URL para onde o cliente é redirecionado após o pagamento.
          example: "https://seusite.com/obrigado"
        allowCoupons:
          type: boolean
          description: Se verdadeiro, permite a aplicação de cupons de desconto nesta cobrança.
          default: false

    Charge:
      type: object
      description: Objeto representando uma cobrança.
      properties:
        id:
          type: string
          description: Identificador único da cobrança.
          example: "bill_z9y8x7w6"
        url:
          type: string
          format: uri
          description: URL da página de pagamento para o cliente.
          example: "https://pay.v4pay.com/bill_z9y8x7w6"
        status:
          type: string
          enum: [PENDING, PAID, EXPIRED, CANCELLED]
          example: PENDING
        amount:
          type: integer
          description: Valor total da cobrança em centavos.
          example: 15075
        customer:
          $ref: '#/components/schemas/Customer'
        createdAt:
          type: string
          format: date-time

    PixRequest:
      type: object
      required: [amount, customer]
      properties:
        amount:
          type: integer
          description: Valor da cobrança em centavos.
          example: 10050
        description:
          type: string
          maxLength: 140
          description: Mensagem que aparecerá no momento do pagamento.
          example: "Pagamento do pedido #123"
        customer:
          $ref: '#/components/schemas/CustomerRequest'
# FUTURO: A rota /pix poderá ser dividida para /inter para emissão de PIX via Banco Inter (ver tag InterPix)

    PixQRCode:
      type: object
      description: Objeto contendo os dados de um QRCode PIX gerado.
      properties:
        id:
          type: string
          description: Identificador único da transação PIX (txid).
          example: "pix_a1b2c3d4"
        status:
          type: string
          enum: [PENDING, PAID, EXPIRED]
          example: PENDING
        amount:
          type: integer
          description: Valor da cobrança em centavos.
          example: 10050
        brCode:
          type: string
          description: Código "copia e cola" do PIX.
          example: "00020126...5913NOME_RECEBEDOR6009SAO PAULO62070503***6304ABCD"
        brCodeBase64:
          type: string
          description: Imagem do QRCode em formato Base64.
          example: "data:image/png;base64,iVBORw0KGgoAAA..."
        expiresAt:
          type: string
          format: date-time
          description: Data em que a cobrança PIX expira.
    CouponRequest:
      type: object
      description: Dados para criação de um cupom de desconto.
      required: [code, amount]
      properties:
        code:
          type: string
          description: Código do cupom.
          example: BEMVINDO10
        amount:
          type: integer
          description: >
                      Valor de desconto em centavos (ex: 1000 para R$ 10,00).
          example: 1000
        expiresAt:
          type: string
          format: date-time
          description: Data de expiração do cupom.
          example: "2025-12-31T23:59:59Z"
        maxRedemptions:
          type: integer
          description: Número máximo de utilizações do cupom.
          example: 100

    Coupon:
      type: object
      description: Objeto representando um cupom de desconto.
      properties:
        id:
          type: string
          description: Identificador único do cupom.
          example: "coup_abc123"
        code:
          type: string
          description: Código do cupom.
          example: BEMVINDO10
        amount:
          type: integer
          description: Valor de desconto em centavos.
          example: 1000
        expiresAt:
          type: string
          format: date-time
          description: Data de expiração.
          example: "2025-12-31T23:59:59Z"
        maxRedemptions:
          type: integer
          description: Máximo de utilizações permitidas.
          example: 100
        createdAt:
          type: string
          format: date-time
          description: Data de criação do cupom.
          example: "2025-06-23T18:45:00Z"
